.input_label {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  /* background-color: var(--primary--dark-violet); */
  position: absolute;
  max-width: 500px;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../../assets/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-size: 70% 80%;
  background-position: top right;
  background-color: var(--primary--dark-violet);
}

.input_text,
.input_btn {
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  border: none;
}

.input_text {
  margin-bottom: 1rem;
  font-family: var(--font);
  outline: none;
  background-color: #ffffff;
}
.input_btn {
  background-color: var(--primary-cyan);
  font-family: var(--font);
}
