.header {
  position: relative;
}
.header_box {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
}

.hamburger {
  height: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  margin-left: auto;
  background: none;
  border: none;
}

.burger {
  width: 40px;
  background-color: var(--neutral-gray);
  height: 3px;
  margin: 0px auto;
  margin-bottom: 7px;
}

.header_bg {
  max-width: 100vw;
  overflow: hidden;
}

.header_bg img {
  width: 140%;
  height: 100%;
}

.header_content_box {
  padding: 2rem;
  text-align: center;
}

.header_title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.header_detail {
  font-weight: 500;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  max-width: 500px;
}

.header_btn {
  height: 45px;
  width: 150px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  background-color: var(--primary-cyan);
  margin-bottom: 130px;
  color: #ffffff;
  font-family: var(--font);
  word-spacing: 3px;
}

@media screen and (min-width: 500px) {
  .header_bg img {
    width: 120%;
  }
}

@media screen and (min-width: 700px) {
  .header_contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 3rem 2rem;
    padding-right: 0;
  }

  .header_btn {
    margin-bottom: 0;
  }
  .header_bg,
  .header_content_box {
    margin-bottom: 5rem;
  }

  .header_content_box {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
  }

  .header_bg {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .header_bg img {
    transform: translateX(0px);
  }

  .header_title{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .header_title {
    font-size: 3rem;
  }
} 
